.blog-page {
    width: 100%;
    height: 100%;
    background-color: #ffda61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.blog-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0px auto;
    background-color: #ffffff54;
}

.blog-hero {
    width: 100%;
}

.blog-hero > img {
    width: 100%;
}

.blog-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 30px;
}

.blog-prof {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 15px
}

.blog-name {
    font-weight: 700;
    margin-bottom: 15px;
}

.blog-role {
    text-align: center;
}

.blog-title {
    text-align: left;
    padding: 30px;
    font-size: 2.5rem;
    font-weight: 1500;
    font-family: 'Oswald', sans-serif;
    text-shadow: 5px 5px 0px #ffc400;
}

.blog-subhead {
    text-align: left;
    padding: 30px;
    color: #000000;
    font-size: 1.7rem;
}

.blog-blog {
    padding: 30px;
}

.bulletpoint{
    font-size: 1.2rem;
}

.bullets {
    padding-left: 60px;
}

.center {
    text-align: center;
}

.coloring {
    color: #ffc400;
}

.blog-others {
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.more-blog {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    
}

.blog-others >h2 {
    margin: 30px auto;
}

@media screen and (max-width: 44em) {
    .blog-content {
        width: 100%;
        text-align: justify;
    }

    .bullets {
        padding-left: 20px;
    }

    .more-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        
    }
}